%div{:id => 'foodiv', :style => 'width:300px'}
  - cache(:controller => 'tree', :action => 'show', :id => 1) do
    - Period.new
    - LineSet.new
    - Sport
    = render :partial => 'tree/tree', :object => Sports.new
%div{:id => 'right_div', :style => 'position:absolute;top:0px;left:325px;float:right'}
  = render :partial => 'game/form', :object => Sport.find_by_abbr('NFL').periods.current_period_array.first.games.first
