The spread is for the contrarian team.  
%br
If there is no contrarian team, it's for the home team.
%br
%br
%table
  %tr
    - ['Time','Away','Home','Current Spread','Open Spread','Contrarian Team','Contrarian %','','Market Status'].each do |h|
      %th= h
  - @games.each do |g|
    %tr
      = render :partial => 'index_row', :locals => {:game => g}

- os = offers
- if os.is_a?(Array)
  - os.each do |offer|
    = offer.to_s
    %br
- else
  = os