= link_to_remote 'Update All', :url => {:action => 'market_status_all', :id => 'na'}
%br
%br
%table
  %tr
    - ['Time','Away','Home','Current Spread (Home)','Open Spread (Home)','Contrarian Team','Contrarian %','','Market Status'].each do |h|
      %th= h
  - @games.each do |g|
    %tr
      = render :partial => 'index_row', :locals => {:game => g}