%table
  %tr
    - (lines.headers + lines.pretty_fields).each do |col|
      %th= col
  - lines.each do |k,g|
    %tr
      - ([k].flatten.map(&:ar_desc) + lines.fields.map { |x| g.respond_to?(x) ? g.send(x) : "N/A" }).each do |cell|
        %td= cell.pretty
  - if root
    %tr
      - ['Total',root.desired_amount,root.wagered_amount,root.win_amount].each do |cell|
        %td
          %b= cell
    