%table
  %tr
    - (lines.headers + lines.pretty_fields).each do |col|
      %th= col
  - lines.each do |k,g|
    %tr
      - ([k].flatten + lines.fields.map { |x| g.send(x) }).each do |cell|
        %td= cell
  %tr
    - ['Total',root.desired_amount,root.wagered_amount,root.win_amount].each do |cell|
      %td
        %b= cell
    