-if line_summary.lines_with_bet.size > 0 or line_summary.respond_to?(:games)
  %h3= 'Line Summary'
  - line_summary.summary_groupings.each do |g|
    = render :partial => 'game/game_summary', :locals => {:root => line_summary, :lines => g}
