%h2= 'Wagers'
%table
  %tr
    - ['Team','Spread','Bet Type','Cover','Push','Loss','Actual Odds','Correct Odds','Kelly','ROI'].each do |cell|
      %th= cell
  = render :partial => 'line/wager', :collection => wagers.sort_by { |x| x.kelly_perc }.reverse
