- cache(:controller => 'main', :action => 'show', :id => 'game_tree') do
  %div{:id => 'foodiv', :style => 'width:300px'}
    - Period; LineSet; Sport
    = render :partial => 'tree/tree', :object => Sports.new